<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>


<body>

    <header>
        <!-- navBar-->
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">
                <%= title %>
            </a>
            <a href="/important" class="extra">Notes-List</a>
            <a href="/about" class="extra">About</a>
            <a href="javascript:void(0);" class="icon extra" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>


    <main>
        <!-- Project heading -->
        <div>
            <div id="heading">
                <h2>
                    TODO App
                </h2>
                <hr id="heading-rule">
            </div>
            <!--Main Content for entering data-->
            <div id="main-content">
                <form action="/create-note" method="post">

                    <!--creating description-->
                    <div id="desc" class="common">
                        <label for="description">DESCRIPTION</label>
                        <input type="text" name="description" id="description" placeholder="What do you need to do?">
                    </div>
                    <hr>

                    <!--creating Category-->
                    <div class="common flex">

                        <div class="cat">
                            <label for="category">CATEGORY</label>
                            <select name="category" id="category">
                        <option value="please" disabled="disabled" selected>Please select</option>
                        <option value="study">Study</option>
                        <option value="market">Market</option>
                        <option value="assignment">Work</option>
                        <option value="call">Call</option>
                    </select>
                        </div>

                        <hr>

                        <!--creating Date-->
                        <div id="dueDate">
                            <label for="due">DUE DATE</label>
                            <input type="text/number" name="date" id="due" placeholder="dd/mm/yyyy">
                            <span id="remTime" onclick="change()">
                              
                            </span>
                        </div>
                    </div>
                    <hr>
                    <!-- button to submit form -->
                    <div id="button">
                        <button type="submit" id="left-button" class="btn">
                    <i class="fas fa-plus"></i> Add Task
                </button>

                    </div>
                </form>
            </div>
            <div>
            </div>
        </div>


        <!--Form Data-->
        <hr style="margin-top: 2%; opacity: 0.2; width: 96%;">
        <!-- using ejs -->
        <% for (let i of notes_list){ %>
            <ul>
                <li>
                    <div class="list row">
                        <!-- taking description value from the form -->
                        <input type="checkbox" name="check" class="input">
                        <span id="bold" class="col-3">
                            <%= i.description %>
                        </span>

                        <!-- taking date value from the form -->
                        <span id="finaldate" class="col-6"> 
                            <i class="far fa-calendar-alt"></i> 
                            <span id="dat">
                        <%= i.date %></span>

                        <!-- providing remaining time -->
                        <span id="rem"></span>
                        </span>

                        <!-- taking category value from the form -->
                        <span id="c" class="col-1">
                            <%= i.category %>
                        </span>

                    </div>
                    <div class="delete">
                        <a href="/delete-note/?id=<%= i._id %>">
                            <i class="fas fa-trash-alt extraicon"></i>
                        </a>
                    </div>
                    <hr class="bottom">
                </li>
            </ul>
            <%}%>
    </main>

    <script src="/js/home.js"></script>

</body>

</html>